[
    {
      "title": "Example Page 1",
      "description": "Page 1",
      "url": "https://example.com",
      "requiresVpn": true,
      "type": "url"
    },
    {
      "title": "Example Page 2",
      "description": "Page 1",
      "url": "https://example.com",
      "requiresVpn": false,
      "type": "url"
    }
  ]